reference/tally/Voucher_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed Nov 28 2018 18:57:27 GMT+0530 (India Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="ENVELOPE">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="HEADER">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="VERSION" type="xs:int"></xs:element>
                                                 <xs:element name="STATUS" type="xs:int"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="BODY">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="DATA">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="IMPORTRESULT">
                                                                             <xs:complexType>
                                                                                    <xs:sequence>
                                                                                           <xs:element name="CREATED" type="xs:int"></xs:element>
                                                                                           <xs:element name="ALTERED" type="xs:int"></xs:element>
                                                                                           <xs:element name="LASTVCHID" type="xs:int"></xs:element>
                                                                                           <xs:element name="LASTMID" type="xs:int"></xs:element>
                                                                                           <xs:element name="COMBINED" type="xs:int"></xs:element>
                                                                                           <xs:element name="IGNORED" type="xs:int"></xs:element>
                                                                                           <xs:element name="ERRORS" type="xs:int"></xs:element>
                                                                                       </xs:sequence>
                                                                                </xs:complexType>
                                                                         </xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>